set tabsize 2
set tabstospaces
set constantshow
set linenumbers
set casesensitive
set historylog
set positionlog
set zap
set autoindent
set indicator
set softwrap
set morespace
set smooth
set cutfromcursor
set suspend

# Enable and set a working backup directory
set backup                              # Creates backups of your current file.
set backupdir ~/.cache/nano/backups/    # The location of the backups.

# Enable mouse support
set mouse

# Enhanced color schemes
set errorcolor bold,red,yellow
set statuscolor bold,white,blue
set keycolor cyan
set functioncolor green
set selectedcolor white,green
set numbercolor magenta
set titlecolor bold,yellow,blue

# Enhanced bracket matching
set matchbrackets "(<[{)>}]"

# Whitespace display
set whitespace "  "

# Enable syntax highlighting
include "/usr/share/nano/*.nanorc"
